README.html
docs/LaTex/*.aux
docs/LaTex/*.bbl
docs/LaTex/*.bcf
docs/LaTex/*.blg
docs/LaTex/*.log
docs/LaTex/*.out
docs/LaTex/*.run.xml
docs/LaTex/*.synctex.gz
docs/LaTex/*.toc
testing/python/**/.idea/*

