README.html
docs/paper/LaTex/*.aux
docs/paper/LaTex/*.bbl
docs/paper/LaTex/*.bcf
docs/paper/LaTex/*.blg
docs/paper/LaTex/*.log
docs/paper/LaTex/*.out
docs/paper/LaTex/*.run.xml
docs/paper/LaTex/*.synctex.gz
docs/paper/LaTex/*.toc
